.rose {
  --rose: pink;
  background: var(--rose);
  color: #111;
}

.rose ::selection {
  background: #111;
  color: var(--rose);
}

.rose :any-link {
  color: indigo;
}

@media (prefers-contrast: less) {
  .rose {
    --rose: lightpink;
  }
}

@media (prefers-contrast: more) {
  .rose {
    --rose: mistyrose;
  }
}

.rose mark {
  color: var(--rose);
  background: indigo;
}
